/* general */
#attended-event-detail-view {
  padding: 2rem;
  background-color: #4f1f1f;
  min-height: 100vh;
}

/* info del evento */

#attended-event-info-container {
  max-width: 800px;
  margin: 2rem auto;
  background-color: #5f2f2f;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  color: #fff;
}

#attended-event-info-container h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: bolder;
}

#attended-event-info-container p {
  margin: 0.5rem 0;
  line-height: 1.4;
  font-size: 1.5rem;
  color: chocolate;
}

#attended-event-info-container h3 {
  margin: 0.5rem 0;

  line-height: 1.4;
  font-size: 1.3rem;
}
#attended-event-info-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 2rem;
}

/* back */
#attended-detail-back {
  background-color: #7f4f4f;
  color: #fff;
  border: none;
  width: 12%;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
  margin: 1rem;
}
#attended-detail-back:hover {
  background-color: #9f6f6f;
}
